@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    background: var(--unnamed-color-1d1c27) 0% 0% no-repeat padding-box;
    background: #1D1C27 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #FFFFFF;
}