h1 {
    font: normal normal 900 35px/53px Poppins;
}

.allCategories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.allShopProducts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.shopProduct {
    background: rgba( 255, 255, 255, 0.10 );    
    padding: 20px;
    margin: 1px;
    width: 24%;
    margin-bottom: 20px;
}

